<div class="ui container">
	<button class="ui button" (click)="toggleSidebar()">Sidebar</button>

	<app-sidebar></app-sidebar>
  <app-article-list
  [articles]="articles"
  >
  </app-article-list>
	<div class="ui input">
		<input type="text" [(ngModel)]="title" placeholder="Enter a title here">
	</div>
	<div class="ui input">
		<input type="text" [(ngModel)]="description" placeholder="Enter a description here">
	</div>
	<button class="ui button" (click)="addArticle(title,description)">Add Article</button>